

/* Student Page Css */
.student-page{
  background-color: gainsboro;
  height: 100%;
  padding: 40px;
}

/* CSS for React Flipping Card  */
.student-card {
  width: 14rem;
  height: 20rem;
  padding: 0;
/* Adjust the shadow properties as needed */
}
.card{
  margin: 8px;
  /* transition: transform 0.2s ease; */
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1); 
}
.card-front {
  width: 90%;
  height: 18.5rem;
}

.card-img-top.front{
  margin-top: 40px;
}
.card-body{
  text-align: center;
}
.card-title{
  margin: 5px;
  margin-bottom: 20px;
  font-size: medium;
}
.links{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

/* Css for Button Icons Github and Linked In */
.btn.btn-primary {
  background-color: transparent;
  color: inherit;
  border: 1px solid white;
  padding: 2px;
}

/* This are home page Css */

.home-page{
  background-color: gainsboro;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .box{
  border: 2px solid black;
  width: 80%;
  height: 70vh;
}



